/* Colors */
$gray: #333842;
$light-gray: #70737B;
$gray-70: #696C73;
$gray-1: #FAFAFA;
$gray-2: #858585;
$gray-gradient: linear-gradient(93.93deg, #F4F5F6 0.1%, #EFF0F1 48.97%, rgba(227, 230, 241, 0.83) 99.93%);

$light-white: rgba(51, 56, 66, 0.6);
$white: #FFFFFF;

$purple :#8800FF;
$purple-5: #F4F3FF;
$secondary-purple: #EBE9FE;
$light-purple:#FFFCFF;

$warning: #FDB022;
$border: #8800ff2e;
$light-pink: #BDB4FE;

$dark: #101828;
$black: #0A142F;
$black-2: #000000;

$accents: #FF7B46;
$ghost-white: #FAFBFF;
$selection: #ffefff15;
$icon-bg: #F4F3FF;
$light-bg: #FCF8FF;
$azure: #0081FE;