@media only screen and (min-width: 768px) and (max-width: 992px) {
    // services

    .services-wrapper {
        .services-list {
            li {
                button {
                    font-size: 14px;
                }
            }
        }
    }

    .services-right {
        h3 {
            font-size: 30px;
            margin-top: -20px;
        }

        .icon {
            height: 56px;
            width: 56px;
        }

        .icon-text {
            h4 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
            }
        }

        .btn-area {
            margin-top: 45px;
        }
    }

    .section-title {
        margin-top: 32px;

        h3 {
            font-size: 20px;
        }
    }

    .section-top::before {
        left: 40%;
    }

    .portfolio-nav {

        ul {
            li {
                a {

                    margin: 10px;
                }
            }


        }
    }

    .cta-section {
        h2 {
            font-size: 30px;
        }
    }

    //service 
    .blog-card {
        .blog-card-body {
            .blog-card-title {
                h4 {
                    font-size: 18px;
                    line-height: 1;
                }
            }

            .blog-card-desc {
                p {
                    font-size: 14px;
                    text-align: justify;
                }
            }
        }
    }

    //tab list
    .tab-list {
        li {
            a {
                font-size: 14px;
            }
        }
    }

    .list-items {
        li {
            button {
                font-size: 14px;
            }
        }

    }

    // web-service
    .web-service {
        .service-list {
            li {
                a {
                    padding: 10px;
                    font-size: 16px;
                }
            }
        }
    }

    // about

    .counter-wrapper {
        .counter-item {
            margin-bottom: 20px;
        }
    }

}